@import "./components.css/bg-left-responsivty.css";
@media (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  .swiper-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
  }
  .header {
    display: flex;
    margin: 0 2rem;
  }
  .header img {
    max-width: 112px;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  h3 {
    font-size: 1rem;
    text-align: center;
  }
  h4 {
    font-size: 0.9rem;
  }
  .modal span {
    font-size: 0.9rem;
  }
  strong {
    font-size: 0.9rem;
  }
  .pokeball-container.ultra img {
    margin-top: 16px;
  }
  .pokeball-container img {
    max-width: 512px;
  }
  .down-pointer {
    left: 10px !important;
  }
  .pokeball-container.ultra img {
    max-width: 224px;
  }
  .search-container {
    display: flex;
    justify-content: center !important;
  }
  .search {
    max-width: 80%;
    margin-right: 30px;
  }
  .type-list {
    display: none;
  }
  .select-input-type {
    display: flex;
  }
  .list {
    display: none;
    border: none !important;
    position: absolute;
  }
  .pokemons-card {
    padding: 0;
  }
  .main {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .card {
    display: flex;
  }
  .box {
    position: fixed;
    bottom: 2rem;
    max-height: 60rem !important;
    margin: auto;
    max-width: 80%;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
  }
  .left-container {
    height: 10rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .left-container .img-box {
    display: flex;
    position: relative;
    bottom: -1.875rem;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    margin-left: 40px;
  }
  .left-container .img-box img {
    height: 100%;
  }
  .icon-mask {
    margin: 2rem 1rem 0 0;
  }
  .right-container {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .right-container h4 {
    text-align: center;
  }
  .general-info {
    display: flex;
    flex-direction: column;
  }
  .infos {
    margin-top: 0.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .infos li {
    width: 1rem;
    margin: 0;
    text-align: left;
    flex-direction: row;
  }
  .weakness {
    margin-top: 1rem;
  }
  ul.weak {
    justify-content: center;
  }
  .stats-box {
    margin-top: 1rem;
  }
  .pokeball-icon {
    margin-top: 1rem;
  }
  .pokemons-card {
    align-items: center;
  }
  .card-list {
    justify-content: center;
  }
  .types-modal {
    justify-content: center;
  }
  .general-info {
    display: flex;
    justify-content: center;
  }
  .types-modal {
    width: 100%;
    justify-content: center;
  }

  .close {
    position: fixed;
    right: 0;
    margin-right: 2.625rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
  }
  footer .left-footer-part {
    width: 100%;
    gap: 0.75rem;
    text-align: center;
  }
  footer .right-footer-part {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  .loader {
    margin-top: 6rem;
    width: 8rem;
    height: 8rem;
    border: 20px solid #242420;

    border-top: 20px solid #f33c3c3d;
  }
}
@media (max-width: 560px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  h3 {
    font-size: 1rem;
    text-align: center;
  }
  .modal span {
    font-size: 0.8rem;
  }
  .modal strong {
    font-size: 0.8rem;
  }
  .box {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    z-index: 4000;
    bottom: -5rem;
    max-width: 35rem;
    max-height: 60rem !important;
  }
  .left-container {
    height: 8rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .search-div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .right-container {
    height: 30rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .right-container h4 {
    text-align: center;
  }
  .general-info {
    display: flex;
    flex-direction: column;
  }
  .close {
    margin-right: 1.75rem;
  }
  .infos li span::after {
    content: ":";
  }
  .infos {
    justify-content: center;
  }
  .stats {
    font-size: 0.5rem;
    gap: 0.5rem;
  }
  span.tag-type {
    padding: 0 0.8rem;
  }
  .single-stats {
    gap: 0.625rem;
  }
}
@media (max-width: 460px) {
  .zero-pokemons {
    width: 100%;
  }

  .search-div {
    justify-content: end;
  }
  .main .pokeball-icon {
    justify-content: center !important;
  }

  .zero-pokemons {
    align-items: center;
  }
  .zero-pokemons .zero-pokeball img {
    width: 8rem;
  }
}
@media (max-width: 380px) {
  .box {
    bottom: -3rem;
  }
  .modal {
    overflow-y: auto;
  }
  .close {
    margin-right: 0.4rem;
    width: 3rem;
    height: 3rem;
  }
  .main {
    overflow-x: hidden;
    justify-content: center;
  }
  .types-modal {
    margin-top: 0;
    margin-bottom: 0;
  }
  .general-info {
    gap: 0.4rem;
    margin-bottom: 0.4rem;
  }
  .infos {
    gap: 0.1rem;
    margin-right: 0.75rem;
  }

  .stats-bar {
    margin-top: 0.4rem;
  }
  .single-stats span {
    font-size: 0.7rem;
    width: 85px;
  }
  .left-footer-part span {
    font-size: 0.8rem;
  }
  .zero-pokemons {
    flex-direction: column-reverse;
    max-height: 22rem;
    width: 90vw;
  }
  .zero-pokemons .zero-pokeball img {
    width: 6rem;
  }
}
